<div class="tab-pane fade show active" id="show-feature" role="tabpanel" aria-labelledby="home-tab">
    <!-- DataTales Example -->
    <div class="card shadow mb-4 mt-2">
        <div class="card-body">
            <form action="/feature/add" method="POST" enctype="multipart/form-data">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" name="name" placeholder="Enter name" required>
                    </div>
                    <div class="form-group">
                        <label for="name">Font Awesome</label>
                        <input type="text" class="form-control" name="fontAwesome" placeholder="Enter font awesome icon code" required>
                    </div>
                </div>
                <input type="hidden" name="productId" value="<%= productId %>">
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </form>
        </div>
        <div class="card-body">
            <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Name</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(let i=0; i < feature.length; i++){ %>
                        <tr>
                            <td><%= i+1 %></td>
                            <td><%= feature[i].name %></td>
                            <td>
                                <form action="/feature/<%= feature[i].id %>?_method=DELETE" method="POST">
                                    <a href="javascript::void()" data-id="<%= feature[i].id %>" data-name="<%= feature[i].name %>" class="btn btn-warning btn-sm button-update"><i class="fas fa-edit"></i></a>                                    
                                    <button type='submit' href="" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i></button>
                                </form>
                            </td>
                        </tr>
                    <% } %>
                    
                </tbody>
            </table>
            </div>
        </div>
    </div>
</div>