<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addModal">
            <i class="fas fa-plus"></i>
        </button>
    </div>
    <div class="card-body">
        <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Company</th>
                    <th>Title</th>
                    <th>Duration</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% for(let i = 0; i < experience.length; i++) { %>
                    <tr>
                        <td><%= i+1 %></td>
                        <td><%= experience[i].name %></td>
                        <td><%= experience[i].title %></td>
                        <td><%= experience[i].duration %></td>
                        <td>
                            <form action="/experience/<%= experience[i].id %>?_method=DELETE" method="POST">
                                <a href="javascript::void()" data-id="<%= experience[i].id %>" data-name="<%= experience[i].name %>" data-duration="<%= experience[i].duration %>" data-title="<%= experience[i].title %>" class="btn btn-warning btn-sm button-update"><i class="fas fa-edit"></i></a>
                                <button type='submit' href="" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i></button>
                            </form>
                        </td>
                    </tr>
                <% } %>
            </tbody>
        </table>
        </div>
    </div>
</div>